.card{
    width: 1000px;
    height: 520px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    /* padding: 30px; */
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);

    .card-content{
        display: grid;
        height: 100%;
        grid-template: 1fr / 50% 50%;

        .card-content-left{

            position: relative;
            background-image: url(~src/assets/images/bg-pattern-desktop.svg);
            background-repeat: no-repeat;
            background-size: 1000px;
            background-position: -591px -304px;

            .woman-online-desktop-img, .box-img{
                margin: 0;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .woman-online-mobile-img{
                display: none;
                
            }
            .woman-online-desktop-img{
                margin-left: -66px;
                position: absolute;
            }
            .box-img{
                position: fixed;
                margin-top: 45px;
                margin-left: -93px;
                
            }
        }
        .card-content-rigth{
            padding: 40px 30px;
            padding-left: 0px;

            h1{
                font-weight: 800;
                font-size: 35px;
            }
            .faq-container{
                max-width: 400px;

                .faq {
                    padding-top: 15px;
                    cursor: pointer;
                    

                    .question:after{
                        content: "";
                        background-image: url(~src/assets/images/icon-arrow-down.svg);
                        background-repeat: no-repeat;
                        transform: translateY(-100%);
                        width: 10px;
                        height: 10px;
                        float: right;
                        margin-top: 9px;
                        transform: rotate(0deg);
                        transition: all 300ms;
                    }

                    .question.active:after{
                        margin-top: 4px;
                        transform: rotate(180deg);
                        transition: all 300ms;
                    }

                    .question.active{
                        font-weight: 800;
                        color: black !important;
                    }
                    
                    .answer{
                        font-size: 13px;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                    .divider{
                        border-bottom: 1px solid lightgray;
                        margin-top: -15px;
                    }
                }

                .faq:hover .question{
                    color: #f48360;
                }
            }
        }
    }
}


@media(max-width: 1150px){

    .card{
        top: 64px;
        width: 80%;
        height: 550px;
        overflow: inherit;
    
        .card-content{
            display: block;

            .card-content-left{

                .woman-online-mobile-img{
                    display: block;
                    display: block;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    margin-top: -108px;
                }
    
                .box-img{
                    display: none;                    
                }

                .woman-online-desktop-img{
                    display: none;                    
                }
            }

            .card-content-rigth{
                
                padding-left: 40px;
                height: -webkit-fill-available;

                h1, .faq-container{
                    max-width: 400px;
                    margin: auto;
                }
                h1{
                    margin-top: 80px;
                    text-align: center;
                }
            }

        }
    }
}


@media(max-width: 470px){
    .card{
        width: 90%;
        .card-content{
            .card-content-rigth{
                padding: 25px;
                .faq-container{
                    .faq{
                        .question{
                            font-size: 12px;
                        }
                        .answer{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}