<div class="card">
    <div class="card-content">
        <div class="card-content-left">
            <img class="woman-online-mobile-img" src="assets/images/illustration-woman-online-mobile.svg" alt="">
            <img class="woman-online-desktop-img" src="assets/images/illustration-woman-online-desktop.svg" alt="">
            <img class="box-img" src="assets/images/illustration-box-desktop.svg" alt="">
        </div>
        <div class="card-content-rigth">
            <h1>FAQ</h1>
            <div class="faq-container">
                <!-- [@faqTrigger]='faq.state' -->
                <div *ngFor='let faq of faqs; let i = index' class="faq" (click)='faqAction(i)'>
                    <div [ngClass]='faq.state' class="question">{{faq.question}}</div>
                    <div [@answerTrigger]='faq.state' class="answer">{{faq.answer}}</div>
                    <div [@dividerTrigger]='faq.state' class="divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>